@import url("https://fonts.googleapis.com/css?family=Nunito:300,400,700");
body,
html {
  font-family: "Nunito", sans-serif;
  font-weight: 300;
}
.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 200px;
}

.App-header {
  background-color: #222;
  height: 500px;
  padding: 20px;
  padding-top: 100px;
  color: white;
}

.App-title {
  font-size: 4em;
  margin-top: 80px;
}

.App-intro {
  font-size: 1.5em;
  margin-top: 20px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
